$itc-garamond: 'ITC Garamond Std Book';
$open-sans: 'Open Sans';
$helvetica-neue: 'Helvetica Neue';
$semibold: 600;
$bold: 700;
$light: 300;
$font-500: 500;
$primary-color : #2E0A46;
$secondary-color: #A6E1FA;
$yellow-color : #FFFAE2;
$primary-text : #2E0A46;
$yellow-text : #FFB92D;
$white-color : #ffffff;
$black-text : #000000;
$dark-blue : #79BEEE;

a {
    text-decoration: none;
    &:focus-visible {
        outline: none;
    }
}
p {
    font-size: 16px;
    line-height: 22px;
    color: $primary-text;
    font-family: $open-sans;
}
.primary-color {
    color: $primary-text;
}
.green-color {
    background-color: #CBF5CB;
}
.ping-color {
    background-color: #F5CBDD !important;
}
.white-bg {
    background-color: #ffffff !important;
}
.purple-color {
    background-color: #BB77FF;
    color: $white-color;
}
.section-title {
    font-size: 32px;
    line-height: 43px;
    font-weight: 700;
}
.bg-blue {
    background-color: $secondary-color;
}
.blue-btn {
    background-color: $primary-color;
    color: $white-color;
    &:hover {
        color: $primary-text !important;
        background-color: $secondary-color !important;
        // &::after {
        //     background-color: $secondary-color !important;
        // }
    }
}
.light-btn {
    background-color: $secondary-color;
    color: $primary-text;
}
.big-btn {
    width: 280px !important;
}
.white-color {
    color: $white-color;
}

::-webkit-input-placeholder { /* Edge */
    color: #3066BE !important;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3066BE !important;
  }
  
  ::placeholder {
    color: #3066BE !important;
  }

// custom-scroll section start
.sidebar-scroll
{
	width: 100%;
    height: 450px;	
}


.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #3066BE !important;
    box-shadow: 0px 2px 2px #00000029;
    border-radius: 5px;
    width: 10px;
    left: -3px;

    &:hover {
        background-color: #3066BE !important;
        box-shadow: 0px 2px 2px #00000029;
        border-radius: 5px;
        width: 10px;
    }
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #3066BE !important;
    box-shadow: 0px 2px 2px #00000029;
    border-radius: 5px;
    width: 10px;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger
{
    height: 50px!important;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools
{
    z-index: 1;   
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
    background-color: #D6D6D6;
    width: 3px;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

// custom-scroll section end

.comman-btn {
    font-family: $open-sans;
    padding: 14px 12px;
    font-weight: $bold;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    font-size: 22px;
    line-height: 22px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    // &::after {
    //     background-color: $primary-color !important;
    //     content: '';
    //     position: absolute;
    //     width: 0;
    //     height: 100%;
    //     left: 0;
    //     top: 0;
    //     bottom: 0;
    //     z-index: -1;
    //     transition: all 0.3s;
    //     border-radius: 8px;
    // }
    &:hover {
        color: $white-color;
        background-color: $primary-color;
        // &::after {
        //     width: 100%;
        //     right: 0;
        // }
    }
}
.title {
    font-size: 46px;
    line-height: 60px;
    color: $primary-text;
    font-weight: $bold;
    span {
        color: $dark-blue;
    }
}
.sub-title {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 600;
    color: #3066BE;
    font-weight: 600;
}
.yellow-text {
    color: $yellow-text;
}
.white-txt {
    color: $white-color;
}
.custom-padding {
    padding: 188px 0 0;
}
.error-msg {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 15px !important;
    color: red;
}

.required:after {
    content: " *";
    color: red;
}

.custom-form {
    .multiselect-single-label {
        padding-left: 0;
    }
    .custom-row {
        margin-bottom: 12px;
        .error-message {
            position: relative;
            label {
                font-size: 20px;
                line-height: 20px;
                font-family: $open-sans;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: .1s ease-out;
                transform-origin: left top;
                pointer-events: none;
                margin: 0;
                padding: 0 22px;
            }
        }
        .selectric-form-control {
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            height: 70px;
            font-size: 20px;
            line-height: 20px;
            font-family: $open-sans;
            padding: 9px 22px;
        }
        .selectric-open {
            .selectric {
                &::after {
                    transform: translate(0, -50%) rotate(-180deg);
                    -moz-transform: translate(0, -50%) rotate(-180deg);
                    -o-transform: translate(0, -50%) rotate(-180deg);
                    -ms-transform: translate(0, -50%) rotate(-180deg);
                    -webkit-transform: translate(0, -50%) rotate(-180deg);
                    transform: translate(0, -50%) rotate(-180deg);
                }
            } 
        } 
        
        .selectric {
            border: none;
            background-color: $white-color;
            border-radius: 5px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            .button {
                display: none;
            }
            &::after {
                position: absolute;
                content: "\f107";
                font-family: "FontAwesome";
                font-weight: 700;
                display: block;
                top: 50%;
                right: 25px;
                font-size: 15px;
                line-height: 15px;
                color: #231F20;
                -moz-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                transition: 0.2s all ease-in-out;
                -webkit-transition: 0.2s all ease-in-out;
                -ms-transition: 0.2s all ease-in-out;
            }
            .label {
                font-size: 20px;
                line-height: 20px;
                font-family: $open-sans;
                height: 70px;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0 22px;
                color: #3066BE;
            }
        }
        .form-control {
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            height: 48px;
            font-size: 20px;
            line-height: 20px;
            font-family: $open-sans;
            padding: 9px 22px;
            font-weight: normal;
            &:focus {
                box-shadow: none;
                border-color: $primary-text;
                + .form-label {
                    background: $white-color;
                    padding: 0 6px;
                    font-size: 12px;
                    line-height: 16px;
                    top: 0;
                    left: 13px;
                    transform: translateY(-50%) scale(.9);
                    color: $primary-text;
                }
            }
            &:not(:placeholder-shown)+label {
                background: $white-color;
                padding: 0 6px;
                font-size: 12px;
                line-height: 16px;
                top: 0;
                left: 13px;
                transform: translateY(-50%) scale(.9);
            }
          
        }
       
      
    }
    
}
.offer-msg {
    font-size: 18px;
    line-height: 22px;
    padding: 0px 0 20px;
}
.slide-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 32px;
    height: 32px;
    background-color: $white-color;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    z-index: 99;
    padding: 0;
    &.prev-arrow{
        left: -30px;
        background-image: url(../images/left-arrow.svg);
    }
    &.next-arrow{
        right: -20px;
        background-image: url(../images/right-arrow.svg);
    }
}

.slick-dots {
	display: flex;
	justify-content: center;
	position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    padding: 0;
	list-style-type: none;
    margin: 0;
	
		li {
			margin: 0 0 0 9px;
            &:first-child {
                margin: 0;
            }
		}
	
		button {
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: $dark-blue;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: $primary-color;
		}
	
}
.slider{
    width:1008px;
    margin:34px auto 0;
    .slide{
      padding:0;
      .child-element{
        transition: all .2s ease;
        width:100%;
        transition: all .5s;
        opacity: 0.45;
      }
      &.slick-center{
        .child-element{
          opacity: 1;
        }
      }
    }
}
@media (min-width: 1599px) {
    .container {
        max-width: 1445px;
    }
}
@media (max-width: 1499px) {
    .title {
        font-size: 44px;
        line-height: 48px;
    }
    .comman-btn {
        padding: 14px 20px;
        width: 190px;
        font-size: 16px;
        line-height: 16px;
    }
    .sub-title {
        font-size: 35px;
        line-height: 1.2;
    }
}

@media (max-width: 1199px) {
    .comman-btn {
        padding: 12px 10px;
    }
    .title {
        font-size: 40px;
        line-height: 50px;
    }
    .sub-title {
        font-size: 28px;
    }
    .custom-form {
        .custom-row {
            .offer-msg {
                font-size: 14px;
                line-height: 14px;
                padding: 15px 0 12px;
            }
        } 
    } 
    .slider {
        width: 785px;
        margin: 34px auto 0;
    }
}
@media (max-width: 991px) { 
    .title {
        font-size: 28px;
        line-height: 30px;
    }
    .comman-btn {
        width: 200px !important;
    }
    .comman-btn.big-btn {
        width: 280px !important;
    }
    .slider {
        width: 100%;
    }
    .sub-title {
        font-size: 31px;
    }
}
@media (max-width:767px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto -20px;
    }
    .sidebar-scroll {
        height: 235px;
    }
    .comman-btn {
        width: 280px !important;
        font-size: 22px;
        line-height: 22px;
        padding: 14px 11px;
        margin: 0 auto;
    }
    .title {
        font-size: 25px;
        line-height: 30px;
    }
    .sub-title {
        font-size: 25px;
        line-height: 30px;
        font-weight: $bold;
    }
    .custom-form {
        .selectric-hide-select {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
           
        }
        .custom-row {
            .form-control, label {
                font-size: 16px;
                line-height: 16px;
                padding: 10px 18px;
                height: 47px;
                display: flex;
                align-items: center;
            }
            .offer-msg {
                font-size: 16px;
                line-height: 16px;
                padding: 15px 0 12px 20px;
                text-align: left !important;
            }
            .selectric {
                .label {
                    font-size: 16px;
                    line-height: 16px;
                    padding: 10px 18px;
                    height: 47px;
                }
            }
        } 
    } 
    .comman-btn.view-ratebtn {
        width: 250px !important;
    }
    .slick-dots {
        bottom: 0px;
        button {
            width: 16px;
            height: 16px;
        }
    }
    .slide-arrow {
        top: 160px;
        margin-top: 0;
        &.prev-arrow {
            left: 0px;
        }
        &.next-arrow {
            right: 0px;
        }
    }
   
}


.sidebar-scroll {
    height: 450px;
    // overflow-y: scroll;
}
.view {
    .ps {
        position: relative;
    }
    .ps__rail-y {
        background-color: #d6d6d6 !important;
        opacity: 1;
        width: 3px;
        right: 10px;
        border-radius: 50px;
    }
    .ps__thumb-y {
        width: 10px;
        right: -3px;
        background-color: #3066be  !important;
        transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
    }
}
.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking, 
.ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y, .ps--focus > .ps__rail-x, .ps--focus > .ps__rail-y, .ps--scrolling-x > .ps__rail-x, .ps--scrolling-y > .ps__rail-y {
    opacity: 1 !important;
}
.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y ,
.ps__rail-y > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y{
    width: 10px !important;
    // height: 20px !important;
}

.Vue-Toastification__toast-body{
    font-weight: bold !important;
    font-size: 20px !important;
  }